@font-face {
    font-family: Avenir;
    src: url(Avenir.ttf);
}

#bootstrap-overrides body, h1, p, button, label{
	font-family: Avenir;
	font-weight: normal;
}

#bootstrap-overrides * {
	border-radius: 0;
}

#bootstrap-overrides .col-md-offset-1 {
	margin-left:0px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6{
    padding: 0;
}

.calcBtn-1{
	position: center;
	text-align: center;
	background-color: #ff474c;
	color: #ffffff;
	border-color: #ffffff;
}

.calcBtn-2{
	position: center;
	text-align: center;
	background-color: #b7b7b7;
	color: #ffffff;
	border-color: #ffffff;
}

.calcBtn-3{
	position: center;
	text-align: center;
	background-color: #ffcc00;
	color: #ffffff;
	border-color: #ffffff;
}

.calcBtn-4{
	position: center;
	text-align: center;
	background-color: #00ccff;
	color: #ffffff;
	border-color: #ffffff;
}

.calcBtn-5{
	position: center;
	text-align: center;
	background-color: #00cc99;
	color: #ffffff;
	border-color: #ffffff;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

html, body {
    height: 100%;
    margin: 0;
}

#Content
{
	height: 100%;
}

#FixedContent
{
	position: fixed;
    width: 50%;
    height: 100%;
    z-index: 1;
}

#Calculator
{
	width: 50%;
	position: fixed;
	margin-top: 20px;
	margin-left: 15px;
}
#ScrollContent
{
	position: relative;
    width: 50%;
	margin-top: 10px;
    margin-left: 50%;
    z-index: 2;
}
